<script src="https://unpkg.com/showdown@2.1.0/dist/showdown.min.js"
        integrity="sha384-GP2+CwBlakZSDJUr+E4JvbxpM75i1i8+RKkieQxzuyDZLG+5105E1OfHIjzcXyWH"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/dompurify@3.0.6/dist/purify.min.js"
        integrity="sha384-cwS6YdhLI7XS60eoDiC+egV0qHp8zI+Cms46R0nbn8JrmoAzV9uFL60etMZhAnSu"
        crossorigin="anonymous"></script>

<hr>

<div id="github-comments-container" class="github-comments" data-comments-id="{{ page.comments_id }}">
	<h2>Comments</h2>
	<ul id="gh-comments-list" aria-label="Comments"></ul>
	<p id="no-comments-found">No comments found for this article.</p>
	<p id="leave-a-comment">Join the discussion for this article on <a href="https://github.com/nyechiel/nyechiel.github.io/issues/{{ page.comments_id }}">this issue</a>. Comments will appear on this page instantly.</p>
</div>
<script src="{{ '/assets/js/comments.js' | relative_url }}"></script>
